<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | NSIT</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/javascript/register.js"></script>
</head>

<body>
    <div class="top-head">
        <img src="/assets/images/logo4.png" />
        <h1 class="title"> Technical Symposium NSIT - Quiz</h1>
    </div>
        <form class="container" method="post" action="/quiz">
            <h1 class="head-container">
                Quiz Level 1
            </h1>
            <div class="qus-container">
                <div id="question_container" class="questions">

                    <div class="qus-contain">
                        <div class="qus">
                            <div class="qus-no">1.</div>
                            <div class="qustions">wasedasdsad adssa asd asdas dasd asd a ad asdas asd aa dasa sa asdas ?
                            </div>
                        </div>
                        <div class="option-container">
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1 is option</span>
                            </label> <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                        </div>
                    </div>

                    <div class="qus-contain">
                        <div class="qus">
                            <div class="qus-no">2.</div>
                            <div class="qustions">wasedasdsad adssa asd asdas dasd asd a ad asdas asd aa dasa sa asdas ?
                            </div>
                        </div>
                        <div class="option-container">
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1 is option</span>
                            </label> <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                        </div>
                    </div>

                    <div class="qus-contain">
                        <div class="qus">
                            <div class="qus-no">3.</div>
                            <div class="qustions">wasedasdsad adssa asd asdas dasd asd a ad asdas asd aa dasa sa asdas ?
                            </div>
                        </div>
                        <div class="option-container">
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1 is option</span>
                            </label> <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                        </div>
                    </div>

                    <div class="qus-contain">
                        <div class="qus">
                            <div class="qus-no">4.</div>
                            <div class="qustions">wasedasdsad adssa asd asdas dasd asd a ad asdas asd aa dasa sa asdas ?
                            </div>
                        </div>
                        <div class="option-container">
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1 is option</span>
                            </label> <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                        </div>
                    </div>

                    <div class="qus-contain">
                        <div class="qus">
                            <div class="qus-no">5.</div>
                            <div class="qustions">wasedasdsad adssa asd asdas dasd asd a ad asdas asd aa dasa sa asdas ?
                            </div>
                        </div>
                        <div class="option-container">
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1 is option</span>
                            </label> <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                        </div>
                    </div>

                    <div class="qus-contain">
                        <div class="qus">
                            <div class="qus-no">6.</div>
                            <div class="qustions">wasedasdsad adssa asd asdas dasd asd a ad asdas asd aa dasa sa asdas ?
                            </div>
                        </div>
                        <div class="option-container">
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                            <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1 is option</span>
                            </label> <label class="option">
                                <input type="radio" name="q1op[]"></input>
                                <span class="check">option1</span>
                            </label>
                        </div>
                    </div>
                </div>
                <a href="#" onclick="submit()" class="submit-btn">submit</a>
            </div>
        </form>
</body>

</html>