<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/registerStyle.css">
    <title>Quiz | NSIT</title>
</head>

<body>
    <div class="top-head">
        <img src="/assets/images/logo4.png" />
        <h1>Symposium | Technical QUIZ</h1>
        <h2>Welcome to our Quiz competition</h2>
    </div>
    <div class="container">
        <div class="box">
            <form class="form-container" method="post" action="/register">
                <h1 class="sign-up">
                   Register
                </h1>
                <div class="sign-up-contents">
                    <label class="form-input">
                        <p class="data">Name :</p>
                        <input class="register-input" type="text" name="student-name" placeholder="Enter your name">    
                    </label>
                    <label class="form-input">
                        <p class="data">Email :</p>
                        <input class="register-input" type="email" name="email" placeholder="Enter your email">
                    </label>
                    <label class="form-input">
                        <p class="data">Phone :</p>
                        <input class="register-input" type="tel" name="phone" placeholder="Enter your Phone Number">
                    </label>
                    <label class="form-input">
                        <p class="data">College :</p>
                        <input class="register-input" type="text" name="college" placeholder="Enter your College" required>
                    </label>
                    <label class="form-input">
                        <p class="data">Year :</p>
                        <input class="register-input" type="number" name="year" placeholder="Enter your Year" required>
                    </label>
                    <label class="form-input">
                        <p class="data">Department :</p>
                        <input class="register-input" type="text" name="department" placeholder="Enter your Department" required>
                    </label>
                </div>
                <button class="btn" type="submit">Register</button>
                <a href="#" class="bottom-msg">Login if you are already registered ? </a>

            </form>
        </div>
    </div>
</body>

</html>