@import url(theme.css);
body {
    background: url(/assets/images/back.jpg) no-repeat center;
    background-size: cover;
    background-position: fill;
}

.top-head {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--primary);
    border-bottom: var(--primary);
}
.top-head img{
    height: 120px;
}
.top-head h1{
    font-size: 30px;
}

.register-input {
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    border-color: rgb(39, 249, 249);
    margin-bottom: 10PX;
    border-bottom: 2px solid var(--primary);
}

.data {
    color: var(--primary);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom:5px;
}

.btn {
    color: var(--text);
    border: none;
    background-color: var(--secondary);
    border-radius: 30px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--primary);
}

.sign-up {
    font-size: 30px;
    color: white;
    margin-bottom: 10px ;
}
.bottom-msg{
    width: 100%;
}
.bottom-msg {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-align: center;
    width: 100%;
    margin: 10px;
}

a:hover {
    color: var(--text);
}

.box {
    margin-top: 50px;
    background-color: var(--accent);
    width: 300px;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 100px;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.form-input{

}